<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InvitationContext"
         connectionString="Server=DESKTOP-UPBDLM0;Database=invitation;Trusted_Connection=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!-- otras secciones como system.web, etc. -->
</configuration>
